<div>
  <h3 style="text-align:center"><span style="color:blue"> Your team list</span></h3>

</div>
<div class="team-container">
  <ul class="players row justify-content-center" >
    <li *ngFor="let player of players"
        [style.background-image]="'url(' + player.Avatar + ')'"
        [style.background-size] = "cover"
        [style.background-position] = "center">
      <div>
        <button class="delete" title="delete player"
        (click)="delete(player)">X</button>
        <a routerLink="/detail/{{player.Id}}">
        <span class="badge">{{player.Number}}</span>
        <span style="color:green" class="card">{{player.Name}}</span>
        <span *ngFor="let position of player['Positions']" class="card" [style.background-color]="getBackground(position)"> {{position}}</span>
        </a>

      </div>
    </li>
  </ul>
  <button class="toolbars"(click)=openAdd() class="btn btn-primary">Add new players </button>
</div>
