<div *ngIf="tour">
  <div class="tours">
    <img class="image" id="logo" [src]="tour.Logo" alt="tour logo"/>
    <br/>
    <label>Name
      <input class="form-control" [(ngModel)]="tour.Name" placeholder="name"/>
    </label>
    <br/>
  </div>
    <ul class="teams row justify-content-center">
      <li *ngFor="let team of teams">
        <a routerLink="/teamdetail/{{team.Id}}">
          <span class="logo"
          [style.background-image]="'url(' + team.Logo + ')'"
          [style.background-size] = "cover"
          [style.background-position] = "center">
            <!--img src = "{{league.Logo}}"-->
          </span>
          <span style="color:green" class="text">{{team.Name}}</span>
        </a>
        <button class="delete" title="delete league"
        (click)="delete(team)">X</button>
      </li>
    </ul>
    <br/>
    <app-round [tourId] = "id"></app-round>
  <br/>
  <div class="toolbars">

    <button class="btn btn-danger" (click)="goBack()">Back</button>
    <button class="btn btn-primary" (click)="save()">Save </button>
    <button class="btn btn-primary" (click)="openRank()">Show Table </button>
    <button (click)=generateFixture() class="btn btn-primary"> Generate Fixture </button>
    <button (click)=openAdd() class="btn btn-primary">Add New Team </button>
  </div>

</div>
